<div id='question[QUESTION_ID]'>
	<p class='questionText'>[QUESTION_TEXT]</p>
	<ul>
		<li><input type="radio" name="answer[QUESTION_ID]" value="[ANSWER_RANDOM_1]"> [ANSWER_RANDOM_1]<br></li>
		<li><input type="radio" name="answer[QUESTION_ID]" value="[ANSWER_RANDOM_2]"> [ANSWER_RANDOM_2]<br></li>
		<li><input type="radio" name="answer[QUESTION_ID]" value="[ANSWER_RANDOM_3]"> [ANSWER_RANDOM_3]<br></li>
		<li><input type="radio" name="answer[QUESTION_ID]" value="[ANSWER_RANDOM_4]"> [ANSWER_RANDOM_4]<br></li>
	</ul>
</div>