<div id="contentbox" class='question[INCREMENTAL_ID]'>
	<div id='question[INCREMENTAL_ID]' class="contentboxbody">
		<p class='questionText' style='font-size:16px;font-weight:bold;'>[QUESTION_TEXT]</p>
		<input type='hidden' name='questionid[INCREMENTAL_ID]' value='[QUESTION_ID]'>
		<ul class='quiz_answers'>
			<li><input type="radio" name="answer[INCREMENTAL_ID]" value="[ANSWER_RANDOM_1]"> [ANSWER_RANDOM_1]<br></li>
			<li><input type="radio" name="answer[INCREMENTAL_ID]" value="[ANSWER_RANDOM_2]"> [ANSWER_RANDOM_2]<br></li>
			<li><input type="radio" name="answer[INCREMENTAL_ID]" value="[ANSWER_RANDOM_3]"> [ANSWER_RANDOM_3]<br></li>
			<li><input type="radio" name="answer[INCREMENTAL_ID]" value="[ANSWER_RANDOM_4]"> [ANSWER_RANDOM_4]<br></li>
		</ul>
	</div>
</div>