<div id="contentbox">
	<div class="contentboxheader"><a href="viewcontent.php?id=[CONTENT_ID]" class="contentboxheadertext">[CONTENT_TITLE]</a></div>
	<div class="contentboxbody">
		<p>- [QUIZ_STATUS] 
			<!-- IF [QUIZ_DONE] -->
				<br/>- Marks: [QUIZ_MARKS] / [QUIZ_QUESTION_COUNT]
			<!-- ELSE -->
				<br/>- Questions: [QUIZ_QUESTION_COUNT]
				<br/>- Due 
				<!-- IF [QUIZ_OVERDUE] -->
					<span style='color:#FF3333'>[QUIZ_DUE]</span>
				<!-- ELSE -->
					<span style='color:#33FF33'>[QUIZ_DUE]</span>
				<!-- ENDIF -->
			<!-- ENDIF -->
		</p>
		<br/>
		[CONTENT_BODY]
		<!-- IF ![QUIZ_PAGE] -->
			<br/><a class='styledLink' style='font-size:14px;padding-top:3px;' href='viewQuiz.php?id=[CONTENT_ID]'>View Quiz</a>
		<!-- ELSE -->
			<!-- IF [QUIZ_DONE] -->
				<br/>Key: <span class='highlightGreen'>Correct Answer</span> | <span class='highlightRed'>Your answer (wrong)</span>
			<!-- ENDIF -->
		<!-- ENDIF -->
	</div>
	<div class="contentboxfooter">Quiz set [CONTENT_TIME] by [CONTENT_USER]
	<!-- IF ![GLOBAL_STORY] -->
		in [CLASS_NAME]
	<!-- ENDIF -->
	</div>
</div>