<link rel="stylesheet" type="text/css" href="css/form.css"/>
<div id="contentbox">
	<div class="contentboxheader">Submit News Story</div>
	<div class="contentboxbody">
	<form method="post" action="" id="login">
		<div class="field">
			<label>Title:</label>
			<input class="input" type="text" name="title" id="title" />
		</div>
		<div class="field">
			<label>Body:</label>
			<textarea class="input" type="text" name="body" rows="6" maxlength='600'></textarea>
		</div>
		<div class="field">
			<label style="visibility:hidden;">.</label>
			<input class='input' type="submit" value="Submit" name='submitnews' id="submitnews"/>
		</div>
		
	</form>
	</div>
</div>