body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td
{
    margin: 0px 0px 0px 0px;
    padding: 0px;
}

#contentarea {
	margin-top: 40px;
	width: 1200px;
	background-color: #FFFFFF;
	height: 100%;
}

#sideelement {
	width: 210px;
	float: left;
	background-color: #FFFFFF;
	padding: 10px;
	padding-top: 20px;
}

#centerelement{
	background-color: #FFFFFF;
	border-left: 1px solid #F0F0F0;
	width: 945px;
	float: left;
	padding: 10px;
}

#toolbox{
	width: 200px;
	border: 2px #ADB2AD solid;
	margin-bottom: 10px;
}

.toolboxheader{
	width: 200;
	overflow: hidden;
	padding: 3px 10px;
	border-bottom: 1px #BDC2BD dashed;
	background-color: #D9e0D9;
	font-weight: bold;
    font-size: 16px;
    text-shadow: 0px 0px 10px #AAFF55;
	text-align: left;
	color: #77BB11;
}

.toolboxcontent{
	background-color: #D9e0D9;
	padding: 4px;
	min-height: 10px;
	font-size: 12px;
	color: #222222;
	font-weight: bold;
	text-align:left;
	line-height: 18px;
}

.toolboxlink{
	text-shadow: 0px 0px 10px white;
	color: #222222;
	text-decoration: none;
}

.toolboxlink:hover{
	text-shadow: 0px 0px 10px #222222;
	color: #F0F0F0;
}

.toolboxlinklist{
	list-style-type: circle;
	list-style-position:inside;
	margin-left: 10px;
}